{% extends "PPSapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section container">
    <div class="row align-items-center">
        <div class="col col-lg-6 basic-form bg-light">
          <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
    
                <legend class="border-bottom mb-4">Join Today</legend>
                
                {{ form|crispy }}
    
            </fieldset>
            <div class="form-group form-button">
                <button class="btn btn-outline-primary signup-button" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
            </small>
        </div>
    </div>






        </div>
    
{% endblock content %}