{% extends "PPSapp/base.html" %}

{% block content %}

<section class="run-report-page-section">
<h1>PPsW Home</h1>

    <div>
        <table id="myTable">
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Link</th>
            <th>Vendor</th>

            <!-- Inputs -->
            <div class="input-boxes"> 
                <input type="text" id="myInput" onkeyup="searchBrand()" placeholder="Search for brands.." title="Type in a name" class="table-header">
                <input type="text" id="myInput" onkeyup="searchModel()" placeholder="Search for models.." title="Type in a name" class="table-header">
                <input type="text" id="myInputPrice" onkeyup="searchPrice()" placeholder="Search for price.." title="Type in a price" class="table-header">
                <input type="text" id="myInputQuantity" onkeyup="searchQuantity()" placeholder="Search for quantity.." title="Type in a quantity" class="table-header">
                <input type="text" id="myInputLink" onkeyup="searchLink()" placeholder="Search for link.." title="Type in a link" class="table-header">
                <input type="text" id="myInputLink" onkeyup="searchLink()" placeholder="Search for vendor.." title="Type in a link" class="table-header">
            </div>
            {% for dp in data %}
                <tr>
                  <td class="table-item">{{ dp.brand }}</td>
                  <td class="table-item">{{ dp.model }}</td>
                  <td class="table-item">{{ dp.price }}</td>
                  <td class="table-item">{{ dp.quantity }}</td>
                  <td class="table-item"><a href="{{ dp.link }}">Link</a></td>
                  <td class="table-item">{{ dp.vendor }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

<div class="pagination-buttons">
    <!-- Pagination  -->
    {% if is_paginated %}
        <!-- If not the first page display options to go back -->
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!-- Loops over pages -->
        {% for num in page_obj.paginator.page_range %}
            <!-- If the page number in the loop matches the one we are currently on -->
            {% if page_obj.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            <!-- If the number is within 3 pages display it -->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Displays the next options if not at the last page -->
        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
</div>
</section>

<!-- Start copy / paste of JS -->
<script> 
    function searchBrand() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function searchModel() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInputPrice");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function searchPrice() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInputQuantity");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }


    function searchQuantity() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInputLink");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function searchLink() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInputLink");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[4];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function searchVendor() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInputLink");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[5];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
<!-- End copy / paste of JS -->


{% endblock content %}